html
    head
        include ./head
        title Username goes here
    body
        include ./header
        .body
            h1 Username in bold here
            .grid
                div
                    p user data goes here
                div
                    p artwork goes here
                div
                    p likes go here
                            